td{
    border: 2px solid black;
    height: 100px;
    width: 50px;
}

.cellOne{
    height: 100%;
    width: 100%;
    background: blue;
}
.cellTwo{
    height: 100%;
    width: 100%;
    background: chartreuse;
}

.cellThree{
    height: 100%;
    width: 100%;
    background: rgb(29, 31, 150);
}

.cellFour{
    height: 100%;
    width: 100%;
    background: rgb(158, 184, 15);
}

.cellFive{
    height: 100%;
    width: 100%;
    background: rgb(184, 15, 15);
}

.cellSix{
    height: 100%;
    width: 100%;
    background: rgb(0, 255, 221);
}

.cellFourHeight{
    height: 50;
}